h3{
    text-align: right;
    font-size:xx-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:rgb(78, 1, 1) ;
}
p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}
h4{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
table,th,td{
    border: 2px solid black;
    text-align: center;
}
td{
    vertical-align: middle;
}
.material-icons{
    vertical-align: middle;
}
a{
    display: block;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
}
a:hover {
  color: palevioletred;
}